body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.btn {
    text-align: center;
}

#form {
    position: relative;
}

.row {
    padding-top: 15px;
    padding-left: 1pc;
}

h2 {
    margin-left: 20px!important;
}